<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
  </configSections>
  <!-- El apiKey te lo da exceptionless cuando creas un nuevo proyecto en su interfaz web. -->
  <exceptionless apiKey="zoBkrpWLXdka9qLzeEFl5gwCVjBkLG6WdYCxDTfY" />
  <!-- Si se tiene Exceptionless instalado localmente hay que especificar acá la url donde esta publicado -->
  <!--<exceptionless apiKey="API_KEY_HERE" serverUrl="http://exceptionless-server" enableSSL="false" />-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>